*{
    /* Não utilizar esse padrão para produção para não reduzir a performance */
    margin: 0;
    padding: 0;
}
/* Configuração do body */
body{
    background: #EfEfEf;
    font-size: 13pt;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;

    /* Técnica para linhar página ao centro */
    display: flex;
    flex-direction: row; /* Por padrão é row */
    justify-content: center;
    align-items: center;
}

/* Container */
#container{
    margin-top: 20px;
    width: 1000px;
}
#container header img{
    width: 100px;
    height: 100px;
}

/* Header */
header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    border-radius: 5px;
}
header h1{
    padding: 5px;
}
header p{
    padding: 5px;
}

/* Menu de navegação */
nav{
    margin-top: 12px;
    height: 25px;
    display: flex;
}
nav #menu{  
    margin-left: 30px;
    width: 700px;
}
nav #Search{
    margin-top: -6px;
    position: relative;
    float: right;
    width: 280px;
    background: white;
    height: 26px;
    border-radius: 5px;
}
nav #Search input[type="search"]{
    border: 0;
    height: 25px;
    border-radius: 2px;
    outline-style: none;
}
nav #Search button{
    border: 0;
    height: 25px;
    width: 80px;
    border-radius: 2px;
    background: #E54C21;
    color: white;
    outline-style: none;

}
nav #Search img{
    width: 12px;
    padding-left: 4px;
    padding-right: 2px;
    background: white;
}
nav #menu ul{
    
}
nav #menu ul li{
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    display: inline;
    border-radius: 7px 7px 0px 0px;
    font-weight: 700;
}
nav #menu ul li:hover{
    background: white;
}

/* Main */
main{
    padding: 10px;
    background: white;
    border-radius: 5px;
    display: flex;
}
main article #body{
    height: 700px;
    width: 700px;
}
main article #body .img{
    display: flex;
    flex-direction: row;
}
main article #body .img img{
    width: 200px;
}
main #content{
    height: 700px;
    width: 600px;
    margin-top: 94px;
    padding: 5px;
}
main #content h1{
    color: #000;
    border-bottom: 3px solid #E54C21;
}
main #content ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    list-style: none;
    background: #EfEfEf;
}
main #content ul li:hover{
    background: #E54C21;
    color: white;
    padding-left: 25px;
}


/* Footer */
footer{
    height: 30px;
    line-height: 150%;
    border-radius: 0px 0px 5px 5px;
    background: #E54C21;
}
footer p{
    color: white;
    text-align: center;
}
